menuconfig FINGERPRINT
	tristate "Fingerprint Config Choosen"
	default y
	help
	  Say Y to can config finperprint manufacturer

if FINGERPRINT

	source "drivers/fingerprint/goodix_odin/Kconfig"
	source "drivers/fingerprint/goodix_oscar/Kconfig"
	source "drivers/fingerprint/idex/Kconfig"
	source "drivers/fingerprint/betterlife/Kconfig"

endif
